.center-wrapper {
    width: 80%;
    margin: 50px auto 0 auto;
}

.control-error {
    color: red;
    font-size: 0.8em;
    margin-bottom: 1rem;
}

.btn-left {
    margin-left: -160px;
    margin-right: 30px;
}

.friend-requests-wrapper {
    margin: 50px auto 0 auto;
    width: 80%;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}

.friend-requests-title {
    border-top: 1px solid darkgrey;
    font-size: 20px;
    color: darkgrey;
}

.friend-request-wrapper {
    margin: 0px;
    padding-top: 40px;
    height: 150px;
    border-bottom: 1px solid black;
}

.friend-request-wrapper:hover {
    box-shadow: inset -1px -1px 3px 1px black;
}