<div class="center-container">
    <span class="login-title">MyChat</span>
    <div class="login-form">
        <form>
            <div class="form-group">
                <label for="userName">用户名</label>
                <input type="text" class="form-control" id="userName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <label for="userPwd">密码</label>
                <input type="password" class="form-control" id="userPwd" placeholder="请输入密码">
            </div>
        </form>
        <button class="btn btn-primary">登录</button>
    </div>
</div>