.center-container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

.login-form {
    height: 300px;
    width: 500px;
    background-color: lavender;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login-title {
    font-size: 2.5em;
    font-weight: 1.3;
    margin-top: -50px;
    margin-bottom: 20px;
}

label {
    width: 15%;
}

input[type=text],
input[type=password] {
    display: inline-block;
    width: 70%;
    margin-left: 5px;
}

.center-wrapper {
    margin: 0 auto;
    width: 80%;
}

.form-group {
    margin-bottom: 10%;
}

button {
    width: 60%;
    margin: 0 auto;
}

.control-error {
    display: block;
    color: red;
    font-size: 0.8em;
    margin-bottom: -19px;
    margin-left: 17%;
}

.form-check {
    margin-top: -30px;
    margin-bottom: 20px;
    padding-left: 70%;
}