textarea {
    height: 100%;
    width: 96%;
    margin: 0 auto;
    display: block;
    resize: none;
}

.button-wrapper {
    width: 96%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    float: right;
}